<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @theme.color %>
</p>

<p>
  <strong>Deleted by:</strong>
  <%= @theme.deleted_by %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @theme.deleted_at %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
