<nav class="navbar navbar-expand navbar-light bg-light" id="page_header">
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item text-center">
            <%= link_to settings_path, class: "nav-link" do %>
                <i class="fas fa-cog"></i><br><%= t("menu_header.setting") %>
            <% end %>
        </li>
        <li class="nav-item text-center">
            <%= link_to destroy_user_session_path, class: "nav-link", method: "delete" do %>
                <i class="far fa-bell"></i><br><%= t("menu_header.notification") %>
            <% end %>
        </li>
        <li class="nav-item text-center">
            <%= link_to destroy_user_session_path, class: "nav-link", method: "delete" do %>
                <i class="fas fa-sign-out-alt"></i><br><%= t("menu_header.message") %>
            <% end %>
        </li>
    </ul>
   
</nav>